{
  "sender": "john.doe@gmail.com",
  "sender_name": "John Doe (Raspberry Pi)",
  "recipient": "john.doe@gmail.com",
  "smtp_username": "ABCDEFGHIJKLMNOPQRST",
  "smtp_password": "ABCD1eXw0/V/abcDEFg709fhJFKLALleabc",
  "host": "email-smtp.us-west-2.amazonaws.com",
  "port": 587
}
