<html>
  <head>
    <title>Live Feed</title>
  </head>
  <body>
    <img src="{{ url_for('stream') }}">
    <br>
    <h2>Controls</h2>
    <form id="controls">
      Focus: <input id="slider-focus" type="range" min=0 max=250 step=5><br>
      Zoom: <input id="slider-zoom" type="range" min=100 max=500 step=1><br>
      Delay: <input id="num-delay" type="number" min=0 step=0.05 value=0.3><br>
      <input id="submit" type="submit" value="Set">
    </form>
  </body>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
