<html>
  <head>
    <title>Live Feed</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <img src="{{ url_for('stream') }}">
    <br>
    <h2>Controls</h2>
    <form id="screen-resolution">
      <div class="screen-resolution-div">
        <span class="screen-label">Screen resolution</span>
        <input class="set-fps" type="number" min=15 max=60 step=1 value=24>
        <input class="set-width" type="number" min=640 max=1280 step=1 value=640>
        <input class="set-height" type="number" min=480 max=1024 step=1 value=480>
      </div>
      <input id="launch" type="submit" value="Launch stream">
    </form>
    <form id="controls">
      <div class="grid-container">
        <span class="header-row">Control</span>
        <span class="header-row">Range</span>
        <span class="header-row">Set</span>
        <span class="header-row">Current value</span>

        <span class="label">Brightness</span>
        <span class="range">0–255</span>
        <input class="set brightness" type="number" min=0 max=255 step=1 value=0>
        <span class="current-value brightness">0</span>

        <span class="label">Contrast</span>
        <span class="range">0–255</span>
        <input class="set contrast" type="number" min=0 max=255 step=1 value=0>
        <span class="current-value contrast">0</span>

        <span class="label">Auto-exposure</span>
        <span class="range">on/off</span>
        <input class="set autoexposure" type="checkbox">
        <input
          class="current-value autoexposure" type="checkbox"
          onclick="return false;"
        >

        <span class="label">Exposure</span>
        <span class="range">3–2047</span>
        <input class="set exposure" type="number" min=3 max=2047 step=1 value=250>
        <span class="current-value exposure">0</span>

        <span class="label">Autofocus</span>
        <span class="range">on/off</span>
        <input class="set autofocus" type="checkbox">
        <input
          class="current-value autofocus" type="checkbox"
          onclick="return false;"
        >

        <span class="label">Focus</span>
        <span class="range">0–250</span>
        <input class="set focus" type="number" min=0 max=250 step=5 value=0>
        <span class="current-value focus">0</span>

        <span class="label">Saturation</span>
        <span class="range">0–255</span>
        <input class="set saturation" type="number" min=0 max=255 step=1 value=0>
        <span class="current-value saturation">0</span>

        <span class="label">Zoom</span>
        <span class="range">100–500</span>
        <input class="set zoom" type="number" min=100 max=500 step=1 value=100>
        <span class="current-value zoom">100</span>

        <span class="label">Delay (s)</span>
        <span class="range">&ge; 0</span>
        <input class="set delay" type="number" min=0 step=0.02 value=0.1>
        <span class="current-value delay">0.1</span>
      </div>
      <input id="submit" type="submit" value="Set">
    </form>
  </body>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
